.hero {
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  min-height: 100vh;
  padding-block: 60px;
  display: flex;
  align-items: center;
}

.hero-content > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  align-items: start;
}

.hero-content > p {
  margin-top: 10px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  align-items: start;
}

.hero-content {
  align-content: flex-start;
  margin-left: 50px;
}

.hero-content button {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 200px;
  padding-block: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
}

.butn--primary {
  background-color: white;
  color: black;
  border: 1px solid white;
}

@media screen and (max-width: 960px) {
  .hero-content {
    align-content: flex-start;
    margin-left: 30px;
  }

  .hero-content button {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 120px;
    padding-block: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    align-content: flex-start;
    margin-left: 20px;
  }

  .hero-content button {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 90px;
    padding-block: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
  }
}

@media screen and (max-width: 960px) {
  .hero-content > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-content > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
}

#list {
  list-style: none;
}

#link {
  text-decoration: none;
}

#link,
#img,
#span,
#but,
#icon {
  display: block;
}

#but {
  background: none;
  border: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

#img {
  height: auto;
}

#icon {
  pointer-events: none;
}

.container {
  padding-inline: 15px;
}

#link,
#but {
  transition: 0.25s ease;
}

#h3 > #link {
  color: inherit;
}

#h1,
#h2,
#h3 {
  color: hsl(0, 0%, 9%);
  font-weight: 600;
}

#h1 {
  font-size: 2.5rem;
  line-height: 1;
}

#h2 {
  font-size: 1.75rem;
}

#h3 {
  font-size: 1.25rem;
}